.detailsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.titleDiv {
  font-size: .8em;
}

.detailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  line-height: .3em;
}

.btnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}


.linksDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
}

.detailsLink, .deleteBtn {
  color: #29335C;
  font-size: .7em;
  text-decoration: none;
  border: 2px solid whitesmoke;
  padding: 16px;
  border-radius: 20px;
  background: #C97B84;
  width: 40%;
  margin: 10px;
  max-width: 200px;
}

.detailsLink:hover {
  box-shadow: 0px 1px 10px 1px #F3DFC1;
  border-radius: 70px;
}

.deleteBtn {
  background-color: #86BBD8;
  height: 45px;
  width: 35%;
  border-radius: 30px;
  margin: 40px;
}

.deleteBtn:hover {
  box-shadow: 0px 1px 10px 1px #C97B84;
}