.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  margin-top: 200px;;
  background-color: #29335C;
  color: white;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
}
