
body {
  margin-top: 160px;
  background-color: #29335C;
  color: white;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

.landingDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.landingDiv2 {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 4px solid whitesmoke;
  margin: 40px;
  background: #F3DFC1;
  color: #29335C;
  font-size: .8em;
}

.titleDiv {
  border: 4px solid whitesmoke;
  background: #C97B84;
  color: whitesmoke;
  padding: 20px;
  font-size: .5em;
}

.landingNavyText {
  color: #29335C;
}