

body {
  margin-top: 160px;
  background-color: #29335C;
  color: white;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

.landingDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}
