.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: .6em;
}

.passwordDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 36%;
  font-size: .7em;
}

button {
  background-color: #C97B84;
  border-radius: 90px;
  color: #29335C;
  margin-bottom: 30px;
  border: 3px solid #F3DFC1;
  width: 100%;
}

input {
  height: 16px;
}