.titleDiv {
  margin-top: 100px;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.formContainer {
  color: #C97B84;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.petFormFont {
  font-size: 18px;
  color: #C97B84;
}

button {
  background-color: #86BBD8;
  border-radius: 90px;
  padding: 10px;
  color: black;
}