.titleDiv {
  margin-top: 100px;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: .8em;
}

.formContainer {
  color: #C97B84;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
}

.petFormFont {
  font-size: 18px;
  color: #C97B84;
}

button {
  background-color: #86BBD8;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
}

input {
  padding: 10px;
  color: #29335C;
  width: 70%;
  word-wrap: break-word;
  line-break: strict;
  margin: 10px;
  border-radius: 15px;
}

.addPicBtn {
  background-color: #86BBD8;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
}

.addPetBtn {
  background-color: #C97B84;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
  width: 80%;
  margin-bottom: 30px;
  border: 3px solid #F3DFC1;
}

.addPetBtn:hover {
  box-shadow: 0px 1px 10px 1px whitesmoke;
  border-radius: 70px;
}