.emergencyContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .7em;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  border: 4px solid whitesmoke;
  font-size: .7em;
  padding: 12px;
  background-color: #C97B84;
  color: whitesmoke;
}


a {
  margin-top: 10px;;
}