.profileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.displayWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: .6rem;
  border: 4px solid whitesmoke;
  background-color: #C97B84;
  min-height: 12vh;
  max-height: 25vh;
  border-radius: 14px;
  width: 71%;
  max-width: 600px;
}

.navUL {
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  border: 3px solid whitesmoke;
  padding: 8px;
  border-radius: 20px;
  background-color: #29335C;
}

.navUL:hover {
  box-shadow: 0px 1px 10px 1px #29335C;
}

.displayWelcome > img {
  margin-bottom: 10px;
  max-width: 100px;
  border: 4px solid #29335C;
}

.displayCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 600px;
}

.petContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 4px solid  #C97B84;
  color: #29335C;
  background-color: whitesmoke;
  margin: 10px;
  padding: 6px;
  max-width: 240px;
  border-radius: 20px;
}

.profileLink {
  color: whitesmoke;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid #C97B84;
  padding: 8px;
  border-radius: 20px;
  background: #29335C;
  width: 60%;
}

.profileLink:hover {
  box-shadow: 0px 1px 10px 1px #29335C;
  border-radius: 70px;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}