
.signupDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #C97B84;
}

.button {
  background-color: #C97B84;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
  width: 80%;
  margin-bottom: 30px;
  border: 3px solid #F3DFC1;
}

.button:hover {
  box-shadow: 0px 1px 10px 1px whitesmoke;
  border-radius: 70px;
}