.addVetDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleDiv {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  font-size: .6em;
  margin-top: -20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C97B84;
  margin-top: 1vh;
  width: 80%;
  text-align: center;
}

.petFormFont {
  font-size: 18px;
  color: #C97B84;
}

select {
  background-color: #86BBD8;
  border: 3px solid whitesmoke;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
  width: 50%;
  font-family: 'Lexend Deca', sans-serif; 
}

textarea {
  padding: 10px;
  color: #29335C;
  width: 70%;
  border-radius: 15px;
  margin: 10px;
  font-family: 'Lexend Deca', sans-serif; 
}

input {
  padding: 10px;
  color: #29335C;
  width: 60%;
  margin-bottom: 25px;
  margin-top: 6px;
  border-radius: 15px;
  font-family: 'Lexend Deca', sans-serif; 
}

.addVetBtn {
  background-color: #C97B84;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 3px solid #F3DFC1;
}

.addVetBtn:hover {
  box-shadow: 0px 1px 10px 1px whitesmoke;
  border-radius: 70px;
}