.addVetContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  margin-top: 100px;;
  background-color: #29335C;
  color: white;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

.vetFormFont {
  font-size: 18px;
  color: #C97B84;
}

button {
  background-color: #86BBD8;
  border-radius: 90px;
  padding: 10px;
  color: black;
  font-family: 'Lexend Deca'
}
