body {
  margin-top: 100px;
  background-color: #29335C;
  color: white;
  font-size: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

button {
  background-color: #86BBD8;
  border-radius: 90px;
  padding: 10px;
  color: #29335C;
  font-family: 'Lexend Deca';
  border: 3px solid whitesmoke;
}

button:hover {
  box-shadow: 0px 1px 10px 1px #C97B84;
  border-radius: 70px;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formDiv {
  color: #C97B84;
  text-align: center;
  margin-top: 10px;
}

.emergencyContactBtn {
  text-decoration: none;
}

.btnDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.addContactContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #C97B84;
  border: 3px solid whitesmoke;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #C97B84;
  line-height: 2em;
}